.memory-card-game {
    width: 100%;
    min-height: 100vh;
    background-color: blueviolet;
}

.memory-card-game > .memory-card-game-title {
    margin: 0;
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.memory-card-game > .memory-card-game-title::before,
.memory-card-game > .memory-card-game-title::after {
    content: '\1F3B0';
}

.memory-card-game > .memory-card-game-title::before {
    margin-right: 25px;
}

.memory-card-game > .memory-card-game-title::after {
    margin-left: 25px;
}